* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background: #f2f2f2;
}

svg {
  margin-top: 40px;
}
header {
  display: flex;
  justify-content: center;
}
main {
  padding: 32px 0px 32px 32px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
}

.bill-input-wrapper {
  position: relative;
  margin-top: 6px;
  margin-bottom: 40px;
}

.bill input {
  width: 100%;
  height: 48px;
  padding-left: 50px;
  text-align: end;
  border-radius: 5px;
}
svg.input-icon {
  position: absolute;
  top: -30%;
  transform: translateY(-50%);
  margin-left: 20px;
}
.amount {
  display: flex;
  justify-content: space-between;
}
.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.numbers .result {
  border: none;
  background-color: #00474b;
  color: #26c2ae;
  font-size: 48px;
  line-height: 71px;
  text-align: right;
  letter-spacing: -1px;
  max-width: 143px;
}
.people-num input {
  height: 48px;
  width: 100%;
  padding-left: 50px;
  text-align: end;
  border-radius: 5px;
}
.Select-Tip {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 14px;
  margin-top: 16px;
  margin-bottom: 40px;
  justify-content: space-between;
}
h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
}
.right {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  height: 100%;
  background: #00474b;
  border-radius: 15px;
  padding: 40px;
  margin-right: 32px;
  margin-left: 32px;
}
.Select-Tip > button {
  background: #00474b;
  border-radius: 5px;
  height: 48px;
  width: 117px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.Select-Tip > .custom {
  background: #f3f9fa;
  color: #547878;
  border-radius: 5px;
  height: 48px;
  width: 117px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  border: none;
}

.people-num > input {
  margin-bottom: 48px;
}

footer > button {
  background: #26c2ae;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  border-radius: 5px;
  margin-top: 121px;
  border: none;
  color: #00474b;
}
p {
  color: #7f9d9f;
  font-size: 13px;
  line-height: 19px;

  color: #7f9d9f;
}
.tittle {
  display: flex;
  flex-direction: column;
  gap: 53px;
}

.people-num-input {
  position: relative;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
}

#error {
  display: none;
  color: red;
}

#error.visible {
  display: block;
}

.bill > input:hover {
  background: #f3f9fa;
  border: 2px solid #26c2ae;
  border-radius: 5px;
}
.Select-Tip > button:hover {
  background: #26c2ae;
  border-radius: 5px;
  color: #00474b;
  cursor: pointer;
}
.Select-Tip > .custom:hover {
  color: #00474b;
  background: #f3f9fa;
  border: 2px solid #26c2ae;
  border-radius: 5px;
  cursor: pointer;
}
.Select-Tip > .clicked:hover {
  background: #26c2ae;
  border-radius: 5px;
  color: #00474b;
}
.people-num input:hover {
  background: #f3f9fa;
  border: 2px solid #e17052;
  border-radius: 5px;
  cursor: pointer;
}

footer button:hover {
  background: #9fe8df;
  border-radius: 5px;
  cursor: pointer;
}

footer > .clicked:hover {
  background: #9fe8df;
  border-radius: 5px;
}

.bill input:hover {
  border: 2px solid #26c2ae;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  main {
    flex-direction: column;
    padding: 32px;
    max-width: 375px;
  }
  svg.input-icon {
    top: -30%;
  }
  .Select-Tip {
    grid-template-columns: auto auto;
  }
  .right {
    margin: 0px;
    margin-top: 32px;
  }
  footer button {
    margin-top: 36px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00474b;
  }
  .tittle {
    gap: 25px;
  }
  .tittle h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .tittle p {
    font-size: 13px;
    line-height: 19px;
  }
  .right {
  }
  .Select-Tip button,
  .Select-Tip .custom {
    width: 146px;
    margin: 0px;
  }
  .numbers .result {
    font-size: 32px;
    line-height: 47px;
    text-align: right;
    letter-spacing: -0.666667px;
  }
}
